main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  padding-block: 2.4rem;
}

main img {
  width: 28.6rem;
  height: 28.6rem;
  object-fit: cover;
  border-radius: 1.6rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform .5s ease;
}

main img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
