@import url(./reset.css);
@import url(./variables.css);
@import url(./tipography.css);



/* Header */

.header {
  background-color: var(--surface-color);
  padding: 2rem 3.2rem;
  display: flex;
  justify-content: space-between;
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.nav__items a {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--text-color-secondary);
}

/* ABOUT */

.about {
  padding: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-color);
}

.about__title {
  margin-bottom: .8rem;
}

.about__profile {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  max-width: 59.2rem;
}

.about__location {
  width: 28rem;
  display: flex;
}

.about__location-imagem {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.about__location-imagem img {
  vertical-align: middle;
  margin-right: .8rem;
}

/* GALLERY */

.gallery {
  padding: 2.4rem 3.2rem;
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

/* FOOTER */

.footer {
  padding: 2.4rem 3.2rem;
  display: flex;
  justify-content: space-between;
}

.terms__of__use {
  display: flex;
  gap: 16px;
}